/* Import _base.scss variables */
@import "base";

@import "normalize";

$sans-serif-fallback: Helvetica, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
$serif-fallback: Georgia, "Times New Roman", Times, serif;

$sans-serif: "Fira Sans", $sans-serif-fallback;
$serif: "Merriweather", $serif-fallback;
$display: "Playfair Display", $serif-fallback;
$initial-cap: "Diplomata", $serif-fallback;
$smallcaps: "Playfair Display SC", $serif-fallback;

@import "rwt_scaffold";

/******** HELPERS ********/

/* apply a natural box layout model to all elements */
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

/* end update for semantics */

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 175, ../sass/h5bp_main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 180, ../sass/h5bp_main.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 189, ../sass/h5bp_main.scss */
.clearfix {
  *zoom: 1;
}

/* useful resets from HTML5 BoilerPlate */

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 59, ../sass/h5bp_main.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 67, ../sass/h5bp_main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 77, ../sass/h5bp_main.scss */
textarea {
  resize: vertical;
}

/* Minimal page design to provide visual structure */

body {
	background-color: $body-background;
}

.page {
	background-color: #fdfdfd;
	margin-top: 1em;
	margin-bottom: 2em;
}

img {
	width: 100%; 
	max-width: 100%; 
	height: auto;
}


figure {
	margin-bottom: 2em;
	
}
figcaption {
	font-family: $serif;
	font-size: (14 / $text-base-size) * 1em;
	text-align: right;
	color: #9f9f9f;
}

/* open type features */
p {
	@include otfeatures($liga: 1, $clig: 1, $dlig: 1, $kern: 1);
	margin-bottom: 0;
	text-indent: 1em;
	.article-text > &:first-of-type {
		text-indent: 0;
		&:first-line {
			font-family: $smallcaps;
			text-indent: -0.5em;
			.wf-inactive & {
				font-family: $serif-fallback;
				font-variant: small-caps; 
				font-size: 1.2em;
			}
		}
	}
	.article-text > &:last-of-type {
		&:after {
			content: "\00A7";
			text-align: center;
			display: block;
			margin: 1em 0;
			text-shadow: 2px 0 0 #ffffff, 2px 0 0 #ffffff, -2px 0 0 #ffffff, -2px 0 0 #ffffff;
			@include background-image(linear-gradient(to bottom, rgba(#000000, 0) 75%, rgba(#000000, 0.85) 75%, transparent));
			background-repeat: repeat-x;
			background-size: 2px 2px;
			background-position: 0 0.55em;
		}
	}
}

h1 {
	@include otfeatures($liga: 1, $clig: 1, $dlig: 1, $kern: 1);
}

.page > header {
	margin-bottom: 1em;
	h1 {
		margin: 0.25em 0 0.15em 0;
	}
}
.author {
	display: block;
	font-family: $serif;
	font-style: italic;
	.wf-inactive & {
		font-family: $serif-fallback;
		margin-bottom: 0.05em;
	}
}

article > header {
	figure {
		margin-bottom: 0;
	}
}

.title {
	display: block;
	font-size: 1.25em;
	margin: 0.5em 0 2em 0;
	text-align: right;
	label {
		float: left;
	}
	.wf-inactive & {
		font-size: 1.25em;
		letter-spacing: 0.05em;
		margin: 0.5em 0 2em 0;
	}
}

/* Blockquote styles */

blockquote {
	max-width: 40em;
	margin: 0 auto;
	p {
		width: 85%; 
		margin: 0.5em auto 1em auto; 
		font-size: 1.5em; 
		line-height: 1.4em; 
		text-indent: 0;
		font-family: $display; 
		font-style: italic; 
		font-weight: normal;
		position: relative;
		&:before {
			content: "\201C";
			font-family: $display;
			font-size: 1.5em;
			color: lighten($text-color, 15%);
			position: absolute;
			top: 0;
			left: -0.55em;
		    
		}
		
		&:after {
			content: "\201D"; 
			font-family: $display;
			font-size: 1.5em;
			color: lighten($text-color, 15%);
			position: relative;
			bottom: -0.2em;
			right: 0.05em; 
			display: inline;
		    line-height: .2em;
		}
	}
}



/* Make sure this is last - helps correct for an orientation scale bug in iOS */

@media screen and (orientation:landscape) and (device-width:320px) and (device-height: 480px) {
	body {
		width: 480px;
	}
}/*/mediaquery*/

